.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 2rem 10rem;
  color: white;
  font-size: 22px;
  height: 60px;
  position: relative;
  top: -10px;
  z-index: 9999;
}

.nav-link {
  background: none;
  border: none;
  color: white;
  margin: 0 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 18px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #333;
}
